// Styles
import styles from "./{{name}}.module.scss"

const {{name}} = () => {
  return (
    <div className={{name}}>
      <span>{{name}}</span>
    </div>
  );
};

export default {{name}};
