// Styles
import styles from "./{{name}}.module.scss"

import Head from "next/head";

const  {{name}} = () => {
  return (
    <div>
      <Head>
        <title>{{name}}</title>
      </Head>
      <h1>{{name}}</h1>
    </div>
  );
};

export default {{name}};
